.task-input {
  box-sizing: border-box;
  background: #ffffff;
  border: 0.063rem solid #dde2ff;
  border-radius: 0.313rem;
  width: 21.875rem;
  height: 13rem;
  margin: 0.625rem 0.625rem 0.625rem 0rem;
  padding: 0.625rem;
}
