@import "src/assets/styles/_variables.scss";

.centered-element {
  align-items: center;
  display: flex;
  height: 54rem;
  justify-content: center;

  .splash-text {
    color: $color-primary;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
  }
}
