@import "src/assets/styles/_colors.scss";
@import "src/assets/styles/_variables.scss";

.content {
  padding: $space-md $space-xxl;

  &__button--create {
    background: $color-primary;
    border: $space-0;
    border-radius: $space-sm;
    color: $color-white;
    padding: $space-md;
  }
}
