.task-list {
  &__item {
    background: $color-white;
    border: $space-1 solid $color-border;
    border-radius: $space-5;
    box-sizing: border-box;
    height: $space-200;
    margin: $space-10 $space-10 $space-10 $space-0;
    padding: $space-10;
    width: $space-350;

    &--completed {
      text-decoration: line-through;
      color: $color-green;
    }
  }
}
