.task-list {
  &__item {
    background: $color-white;
    border: $space-xs solid $color-border;
    border-radius: $space-sm;
    box-sizing: border-box;
    height: $space-xxxl;
    margin: $space-md $space-md $space-md $space-0;
    padding: $space-md;
    width: $space-4xl;
  }
}
