@import "src/assets/styles/_colors.scss";
@import "src/assets/styles/_variables.scss";

.navbar {
  background-color: $color-white;
  color: $color-primary;
  display: flex;
  justify-content: space-between;
  padding: $space-sm $space-xxl;

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      padding-right: $space-md;
      width: $space-xl;
    }
  }
}
