@import "src/assets/styles/_variables.scss";

.navbar {
  background-color: #ffffff;
  color: $primary-color;
  padding: 0.313rem 12.5rem;
  display: flex;
  justify-content: space-between;
  height: 3.125rem;

  .navbar-logo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    img {
      width: 1.875rem;
      padding-right: 0.625rem;
    }
  }
}
